@import "./fonts.css";
@import "./normalize.css";

body {
    background-color: #f5f7fa;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
    color: #595959;
    position: relative;
}
h1 {
    font-size: 32px;
    line-height: 45px;
}
h2 {
   font-size: 22px;
   line-height: 27px; 
}
h3 {
    font-size: 16px;
    line-height: 20px;
}
h4 {
    font-size: 14px;
    line-height: 17px;
}
.left h2 {
    color: #fff;
}
.wrapper {
    display: flex;
    width: 100%;
    max-width: 1200px;
    min-height: 100vh;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}
/* Left block START */
.left {
    width: 100%;
    max-width: 370px;
    background-color: #1e2939;
}
.avatar {
    width: 100%;
    max-width: 370px;
    margin-top: 40px;
    margin-bottom: 51px;
}
.contacts {
    margin-left: 40px;
    margin-bottom: 47px;
}
.phone {
    display: inline-block;
    width: 26px;
    font-weight: 700;
    color: #fff;
    margin-top: 15px;
}
.mail {
    display: inline-block;
    width: 26px;
    font-weight: 700;
    color: #fff;
}
.contacts p a {
    text-decoration: none;
    color: #fff;
    opacity: 0.5;
}
.contacts p a:hover {
    color: #fff;
    opacity: 1;
}
.tech__skill {
    margin-bottom: 44px;
}
.tech__skill h2 {
    margin-left: 34px;;
}
.skill__list {
    margin-top: 8px;
    margin-left: 36px;
}
.skill__list li {
    color: #fb6d3a;
    margin-left: 16px;
}
.skill__list p {
    color: #fff;
    opacity: 0.5;
}
.soft__skill h2 {
    margin-left: 34px;
}
/* Left block END */
/* Content block START */
/* Projects block START */
.content {
    width: 100%;
    max-width: 830px;
    padding-left: 80px;
    padding-right: 80px;
}
.intro {
    width: 100%;
    max-width: 650px;
    margin-top: 50px;
}
.intro h1 {
    margin-top: 19px;
    margin-bottom: 24px;
}

.projects {
    margin-top: 40px;
    margin-bottom: 51px;
}
.projects__list {
    margin-top: 15px;
    margin-left: 16px;
}
.projects__list li a {
    text-decoration: none;
    color: #595959;
}
.projects__list li a:hover {
    color: #fb6d3a;
}
/* Card block START */
.card__row {
    display: flex;
    column-gap: 25px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 25px;
}
.card__item {
    width: 100%;
    max-width: 200px;
    height: 100%;
    position: relative;
}
.card__back {
    background-color: #3fa2e6;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    transform: rotateY(180deg);
}
.card__front, .card__back {
    transition: 1s;
    border-radius: 8px;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    backface-visibility: hidden;
}
.card__item:hover .card__front {
    transform: rotateY(180deg);
}
.card__item:hover .card__back {
    transform: rotateY(360deg);
}
.card__pic {
    display: flex;
    width: 100%;
    max-width: 200px;
    border-radius: 8px;
}
.card__title {
    font-size: 17px;
    font-weight: 700;
    font-style: italic;
    text-align: center;
    margin-top: 40px;
}
.card__description {
    display: block;
    width: 100%;
    max-width: 100px;
    font-size: 25px;
    font-weight: 700;
    font-style: italic;
    line-height: 35px;
    text-align: center;
    margin: 20px auto 30px;
    color: #fff;
}
.card__text {
    font-size: 22px;
    line-height: 22px;
}
.card__btn {
    display: block;
    width: 100%;
    max-width: 120px;
    padding: 4px 8px;
    background-color: #f4511f;
    text-decoration: none;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 500;
    font-style: italic;
    text-align: center;
    margin: 0 auto;
    color: #fff;
}
/* Card block END */
/* Projects block END */
/* Experience block START */
.work__experience {
    width: 100%;
}
.work h3 {
    font-size: 16px;
    line-height: 20px;
    margin-top: 12px;
    margin-bottom: 11px;
}
.work h3 span {
    color: #fb6d3a;
}
.work {
    margin-bottom: 16px;
}
.work p span {
    color: #000;
}
.work__list {
    margin-top: 8px;
    margin-left: 20px;
}
/* Experience block END */
/* Education block START */
.education {
    margin-top: 50px;
    margin-bottom: 50px;
}
.education h3 {
    color: #fb6d3a;
    margin-top: 12px;
    margin-bottom: 11px;
}
.education p {
    margin-top: 12px;
    
}
.education p span {
    color: #000;
}
/* Education block END */
/* Content block END */

/* Responsive Mobile START */

@media screen and ( max-width: 1200px) {
    .wrapper {
        width: 100%;
        max-width: 960px;
    }
    .content {
        padding: 0 30px;
    }
    .card__row {
        flex-wrap: nowrap;
    }
    .card__item {
        width: 100%;
        max-width: 150px;
        margin-bottom: 10px;
    }
    .card__title {
        font-size: 13px;
        margin-top: 30px;
    }
    .card__description {
        font-size: 17px;
        line-height: 20px;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .card__text {
        font-size: 14px;
        line-height: 14px;
    }
    .card__btn {
        width: 100%;
        max-width: 80px;
        font-size: 11px;
        padding: 0;
    }
}
@media screen and ( max-width: 992px) {
    body {
        font-size: 15px;
    }
    .wrapper {
        display: block;
        max-width: 800px;
    }
    .left {
        display: flex;
        column-gap: 5px;
        flex-direction: row-reverse;
        width: 100%;
        max-width: 960px;
        padding-left: 10px;
        border-radius: 8px;
    }
    .left p {
        font-size: 14px;
    }
    .avatar {
        width: 100%;
        max-width: 250px;
        margin-top: 0;
        margin-bottom: 0;
    }
    .contacts,
    .tech__skill,
    .soft__skill {
        margin-top: 40px;
    }
    .contacts {
        max-width: 400px;
        margin-left: 0;
    }
    .contacts h2 {
        font-size: 15px;
    }
    .tech__skill,
    .soft__skill {
        width: 100%;
        max-width: 150px;
    }
    .tech__skill h2,
    .soft__skill h2 {
        font-size: 15px;
        margin-left: 0px;
    }
    .content {
        width: 100%;
        max-width: 960px;
    }
    .skill__list {
        margin-top: 15px;
    }
    .skill__list li {
        margin-left: -20px;
    }
    .intro {
        margin-top: 50px;
    }
    .intro h1 {
        font-size: 40px;
        line-height: 45px;
        text-align: center;
        text-transform: uppercase;
    }
    .intro h3 {
        font-size: 22px;
        line-height: 25px;
        font-weight: 900;
        text-align: center;
    }
    .intro p {
        font-size: 17px;
        line-height: 22px;
        text-align: center;
    }
    .card__row {
        justify-content: space-around;
    }
    .card__item {
        width: 100%;
        max-width: 220px;
    }
    .card__pic {
        width: 100%;
        max-width: 220px;
    }
    .card__title {
        font-size: 17px;
        margin-top: 60px;
    }
    .card__description {
        font-size: 25px;
        line-height: 35px;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .card__text {
        font-size: 22px;
        line-height: 22px;
    }
    .card__btn {
        width: 100%;
        max-width: 120px;
        font-size: 15px;
        padding: 4px 8px;
    }
}
@media screen and (max-width: 768px) {
    .left {
        width: 100%;
        padding-left: 20px;
    }
    .contacts {
        margin-right: auto;
        margin-left: auto;
    }
    .soft__skill,
    .tech__skill {
        display: none;
    }
    .skill__list li {
        margin-left: -15px;
    }
    .projects h2 {
        font-size: 40px;
        line-height: 40px;
        font-weight: 900;
        text-align: center;
        text-transform: uppercase;
    }
    .card__item {
        width: 100%;
        max-width: 150px;
        margin-bottom: 10px;
    }
    .card__item h2 {
        font-size: inherit;
        line-height: inherit;
    }
    .card__title {
        font-size: 13px;
        margin-top: 30px;
    }
    .card__description {
        font-size: 17px;
        line-height: 20px;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .card__text {
        font-size: 14px;
        line-height: 14px;
    }
    .card__btn {
        width: 100%;
        max-width: 80px;
        font-size: 11px;
        padding: 0;
    }
}
@media screen and (max-width: 576px) {
    .wrapper {
        width: 100%;
    }
    .left {
        padding-right: 20px;
    }
    .avatar {
        display: none;
    }
    .tech__skill {
        margin-left: auto;
        margin-right: auto;
    }
    .content {
        width: 100%;
        margin: 0 auto;
        padding: 0 10px;
    }
    .tech__skill {
        display: block;
    }
    .work__experience {
        width: 100%;
    }
    .card__row {
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 400px) {
    .left {
        display: block;
        padding: 0;
        border-radius: 8px;
    }
    .avatar {
        display: block;
        width: 100%;
        max-width: 400px;
    }
    .contacts {
        display: inline-flexbox;
        height: 40px;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 5px;
        padding-bottom: 10px;
        overflow-y: hidden;
        border-bottom: 1px solid #fff;
    }
    .contacts h2 {
        font-size: 30px;
        line-height: 30px;
        text-align: center;
        letter-spacing: 3px;
        margin-bottom: 25px;
        text-transform: uppercase;
    }
    .contacts p {
        display: block;
        text-align: center;
        width: 100%;
        font-size: 14px;
        line-height: 16px;
    }
    .phone {
        margin-top: 0;
    }
    .tech__skill {
        display: block;
        width: 100%;
        max-width: 400px;
        height: 40px;
        overflow-y: hidden;
        padding-top: 5px;
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
        padding-bottom: 10px;
        border-bottom: 1px solid #fff;
    }
    .tech__skill h2 {
        font-size: 30px;
        line-height: 30px;
        text-align: center;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    .skill__list {
        width: 100%;
        max-width: 150px;
        margin-right: auto;
        margin-left: auto;
    }
    .skill__list li {
        font-size: 20px;
        max-width: 80px;
        margin-right: auto;
        margin-left: auto;
    }
    .skill__list p {
        font-size: 20px;
        line-height: 20px;
        font-weight: 600;
    }
    .soft__skill {
        display: block;
        flex-direction: column;
        width: 100%;
        max-width: 400px;
        height: 40px;
        overflow-y: hidden;
        padding-top: 5px;
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
        padding-bottom: 10px;
        border-bottom: 1px solid #fff;
    }
    .soft__skill h2 {
        font-size: 30px;
        line-height: 30px;
        text-align: center;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    .soft__list {
        width: 100%;
        max-width: 150px;
        margin-right: auto;
        margin-left: auto;
    }
    .skill__list li {
        font-size: 20px;
        max-width: 80px;
        margin-right: auto;
        margin-left: auto;
    }
    .soft__list p {
        font-size: 20px;
        line-height: 20px;
        font-weight: 600;
    }
    .active {
        height: auto;
    }
    .content {
        margin-top: 0;
    }
    .card__row {
        flex-direction: column;
    }
    .card__item {
        margin: 5px auto;
    }
}
/* Responsive Mobile END */